{{template "base" .}}


{{define "content"}}

        <hr>
    <h2>This is the Home page</h2>
    <h2>This is the time page</h2>
    <h2>This is the Home page</h2>

    <div class="text-center back-link">
        <a class="btn btn-outline-secondary btn-sm" href="/users/login">Log in</a>
    </div>
{{end}}

{{define "js"}}

{{end}}